/* PROJECT */

@media (max-width:1200px) {
    .project .skill h4 {font-size: 1.5rem;}
}

@media (max-width:1024px) {
    .project .section-cont .post h2{font-size: 2.5rem;}
    .project .section-cont .post h3{font-size: 2.8rem;}
    .project .skill h4 {font-size: 1.2rem;}
}

/* iPad Pro 12 */
@media (max-width:1024px) and (min-height:1200px) {
    .about{padding-top: 25vh;}
    .proj{padding-top: 25vh;}
}

@media (max-width:900px) {
    .project .center.backend .slick-slide{opacity: 1;}
    .about h1 {font-size: 2.7rem; width: 230px;}
    .about h1 em{font-size: 2.7rem;}
    .about h2 {font-size: 2.2rem;width: 230px;}
    .about h2 em{font-size: 2.2rem;}
}

@media (max-width:800px) {
    .project .red-line h1 {font-size: 3rem;}
    .project .red-line>h1+span {width: 500px;margin-top: 70px;border-width: 17px}
}

@media (max-width:660px) {
    .break-line660 {display: block;}
    .about h2 {font-size: 2rem;}
    .project .section-cont .post h2{font-size: 1.6rem;}
    .project .section-cont .post h3{font-size: 2rem;}
    .project .red-line h1 em{display: none;}
    .project .red-line>h1 { font-size: 4rem;}
    .project .red-line>h1 span{font-size: 2rem;}
    .project .red-line>h1+span {width: 400px;margin-top: 130px;border-width: 30px;transform: rotate(-5deg);}
}

@media (max-width:550px) {
    .about .inner{padding-top: 90px;}
    .about h1 {font-size: 3rem;margin-top: 40px;margin-bottom: 20px;}
    .about .sub-title h1 {font-size: 3.4rem;}
    .about .sub-title h3 {font-size: 1.6rem;margin-top: 30px;}
    .about .sub-title:last-child {padding-top: 0px;}
    .about .sub-title h1 {margin: 0px;}
    .about .sub-title h1+span {width: 250px;margin-top: 45px;}
    .about .sub-title h3+span {width: 350px;margin-top: 50px;}
    .project .section-cont .post h2{font-size: 1.2rem;}
    .project .section-cont .post h3{font-size: 1.5rem;}
    .project .red-line h2 {font-size: 2.8rem;}
    .project .red-line>h2+span {width: 240px;margin-top: 70px;}
}

@media (max-width:480px) {
    .inner{padding-top: 90px;}
    .center .slick-slide{margin: 0px;}
    .project .section-cont .post h2{font-size: 1.2rem; margin: 40vh 0px 30px 5vw;}
    .project .section-cont .post h3{font-size: 1.5rem;margin-left: 5vw;}
    .about h2 {font-size: 2rem;}
    .project .red-line>h1 { font-size: 3rem;}
    .project .red-line>h1 span{font-size: 1.5rem;}
    .project .red-line>h1+span {width: 300px;margin-top: 100px;border-width: 15px;transform: rotate(-3deg);}
}

@media (max-width:375px) {
    .about .inner{padding-top: 80px;}
    .about .sub-title h3 {font-size: 1.4rem;}
    .about .sub-title h3+span {width: 320px;margin-top: 50px;}
    .about .sub-title h1 {margin: 0px 0px 30px;}
    .project .red-line h2 {font-size: 3rem;}
    .project .red-line>h2+span {width: 250px;margin-top: 80px;}
}

// .dots li.slick-active button{background-color: rgba(224, 224, 224, 0.726);}
