$main-red: #dd4226;

.cursor {
    width: 35px;
    height: 35px;
    border: 1px solid #dd4226;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    // mix-blend-mode: difference;
    mix-blend-mode: difference;
    transition: all 150ms ease;
    transition-property: opacity, background-color, transform, mix-blend-mode;
}

.cursor--link-hovered {
    transform: translate(-50%, -50%) scale(1.55);
    background-color: #dd4226;
    // transform: scaleZ(1.2);
}

.cursor--clicked {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #dd4226;
}

.cursor--hidden {
    opacity: 0;
}
