@font-face {
    font-family: "Fira L";
    font-weight: normal;
    font-weight: 300;
    src: url(/fonts/FiraSansExtraCondensed-Light.ttf);
}

@font-face {
    font-family: "Fira r";
    font-weight: normal;
    font-weight: 400;
    src: url(/fonts/FiraSansExtraCondensed-Regular.ttf);
}

@font-face {
    font-family: "Fira M";
    font-weight: normal;
    font-weight: 500;
    src: url(/fonts/FiraSansExtraCondensed-Medium.ttf);
}

@font-face {
    font-family: "Fira B";
    font-weight: normal;
    font-weight: 700;
    src: url(/fonts/FiraSansExtraCondensed-Bold.ttf);
}

@font-face {
    font-family: "Fira Bl";
    font-weight: normal;
    font-weight: 900;
    src: url(/fonts/FiraSansExtraCondensed-Black.ttf);
}


// @font-face{
// 	font-family:"Noto L";
//     font-weight: normal;
//     font-weight:100;
// 	src:url(./fonts/NotoSansKR-Light.otf);
// }

// @font-face{
// 	font-family:"Noto Th";
//     font-weight: normal;
//     font-weight:100;
// 	src:url(./fonts/NotoSansKR-Thin.otf);
// }

// @font-face{
// 	font-family:"Noto R";
//     font-weight: normal;
//     font-weight:100;
// 	src:url(./fonts/NotoSansKR-Regular.otf);
// }

// @font-face{
// 	font-family:"Noto M";
//     font-weight: normal;
//     font-weight:100;
// 	src:url(./fonts/NotoSansKR-Medium.otf);
// }

// @font-face{
// 	font-family:"Noto B";
//     font-weight: normal;
//     font-weight:100;
// 	src:url(./fonts/NotoSansKR-Bold.otf);
// }
